# Iniciando o projeto de Credit Risk e treinando utilizar o Git / github

### Antes de começar qualquer tipo de análise vamos dar uma breve introdução
Esse projeto consiste em um banco com 27 variáveis as quais contém dados de indívuos que influenciam a credibilidade financeira de uma pessoa, esse conjunto de dados será usado para treinamento de um modelo preditivo buscando avaliar o risco de inadimplência em empréstismos de crédito.

- **Variáveis disponíveis:**

**ID:** Identificador único para cada entrada no conjunto de dados

**Customer_ID:** Identificador para cada cliente.

**Month:** Mês da coleta dos dados.

**Name:** Nome do cliente.

**Age:** Idade do cliente.

**SSN:** Número de Seguro Social (Social Security Number) do cliente.

**Occupation:** Ocupação do cliente.

**Annual_Income:** Renda anual do cliente.

**Monthly_Inhand_Salary:** Salário mensal após deduções.

**Num_Bank_Accounts:** Número de contas bancárias que o cliente possui.

**Num_Credit_Card:** Número de cartões de crédito que o cliente possui.

**Interest_Rate:** Taxa de juros aplicada sobre os empréstimos.

**Num_of_Loan:** Número de empréstimos que o cliente possui.

**Type_of_Loan:** Tipo de empréstimo tomado pelo cliente.

**Delay_from_due_date:** Número de dias de atraso no pagamento após a data de vencimento.

**Num_of_Delayed_Payment:** Número de pagamentos atrasados feitos pelo cliente.

**Changed_Credit_Limit:** Indica se o limite de crédito foi alterado.

**Num_Credit_Inquiries:** Número de consultas de crédito feitas pelo cliente.

**Credit_Mix:** Mix de diferentes tipos de contas de crédito mantidas pelo cliente.

**Outstanding_Debt:** Quantidade de dívida pendente.

**Credit_Utilization_Ratio:** Razão entre o crédito utilizado e o crédito disponível.

**Credit_History_Age:** Idade do histórico de crédito.

**Payment_of_Min_Amount:** Indica se o pagamento mínimo foi realizado.

**Total_EMI_per_month:** Total de Parcelas Mensais Equivalentes (EMI) pagas pelo cliente.

**Amount_invested_monthly:** Valor investido mensalmente pelo cliente.

**Payment_Behaviour:** Comportamento de pagamento do cliente.

**Monthly_Balance:** Saldo mensal na conta.

**Credit_Score:** Variável alvo - pontuação de crédito do cliente.

In [16]:
import pandas as pd
import matplotlib.pyplot as plt
import numpy as np
import seaborn as sns

In [ ]:
train = pd.read_csv(r"dados\train.csv")
test = pd.read_csv(r"dados\test.csv")

In [15]:
print(train.shape)
print(test.shape)
train.head(10)

(100000, 28)
(50000, 27)

,ID,Customer_ID,Month,Name,Age,SSN,Occupation,Annual_Income,Monthly_Inhand_Salary,Num_Bank_Accounts,...,Credit_Mix,Outstanding_Debt,Credit_Utilization_Ratio,Credit_History_Age,Payment_of_Min_Amount,Total_EMI_per_month,Amount_invested_monthly,Payment_Behaviour,Monthly_Balance,Credit_Score
0,0x1602,CUS_0xd40,January,Aaron Maashoh,23,821-00-0265,Scientist,19114.12,1824.843333,3,...,_,809.98,26.822620,22 Years and 1 Months,No,49.574949,80.41529543900253,High_spent_Small_value_payments,312.49408867943663,Good
1,0x1603,CUS_0xd40,February,Aaron Maashoh,23,821-00-0265,Scientist,19114.12,NaN,3,...,Good,809.98,31.944960,NaN,No,49.574949,118.28022162236736,Low_spent_Large_value_payments,284.62916249607184,Good
2,0x1604,CUS_0xd40,March,Aaron Maashoh,-500,821-00-0265,Scientist,19114.12,NaN,3,...,Good,809.98,28.609352,22 Years and 3 Months,No,49.574949,81.699521264648,Low_spent_Medium_value_payments,331.2098628537912,Good
3,0x1605,CUS_0xd40,April,Aaron Maashoh,23,821-00-0265,Scientist,19114.12,NaN,3,...,Good,809.98,31.377862,22 Years and 4 Months,No,49.574949,199.4580743910713,Low_spent_Small_value_payments,223.45130972736786,Good
4,0x1606,CUS_0xd40,May,Aaron Maashoh,23,821-00-0265,Scientist,19114.12,1824.843333,3,...,Good,809.98,24.797347,22 Years and 5 Months,No,49.574949,41.420153086217326,High_spent_Medium_value_payments,341.48923103222177,Good
5,0x1607,CUS_0xd40,June,Aaron Maashoh,23,821-00-0265,Scientist,19114.12,NaN,3,...,Good,809.98,27.262259,22 Years and 6 Months,No,49.574949,62.430172331195294,!@9#%8,340.4792117872438,Good
6,0x1608,CUS_0xd40,July,Aaron Maashoh,23,821-00-0265,Scientist,19114.12,1824.843333,3,...,Good,809.98,22.537593,22 Years and 7 Months,No,49.574949,178.3440674122349,Low_spent_Small_value_payments,244.5653167062043,Good
7,0x1609,CUS_0xd40,August,NaN,23,#F%$D@*&8,Scientist,19114.12,1824.843333,3,...,Good,809.98,23.933795,NaN,No,49.574949,24.785216509052056,High_spent_Medium_value_payments,358.12416760938714,Standard
8,0x160e,CUS_0x21b1,January,Rick Rothackerj,28_,004-07-5839,_______,34847.84,3037.986667,2,...,Good,605.03,24.464031,26 Years and 7 Months,No,18.816215,104.291825168246,Low_spent_Small_value_payments,470.69062692529184,Standard
9,0x160f,CUS_0x21b1,February,Rick Rothackerj,28,004-07-5839,Teacher,34847.84,3037.986667,2,...,Good,605.03,38.550848,26 Years and 8 Months,No,18.816215,40.39123782853101,High_spent_Large_value_payments,484.5912142650067,Good